<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="My_Run_Suite" parallel="tests" thread-count="2" >
<!-- Parallel Cross-browser testing is done here -->
<test name="TestingOnChrome">

<classes>
<class name="Demo.Cross_Browser"/>
</classes>
</test> 
</suite>